<div class="header">
    <a class="active" href="" title="Главная страница">Главная</a>
    <a href="" title="Категории">Категории</a>
    <a href="" title="О сайте">О сайте</a>
    <a href="" title="Избранное">Избранное</a>
    <a href="" title="Корзина">Корзина</a>
    <a href="" title="Тема">Тема</a>
    <a href="" title="Поиск">Поиск</a>
    <div class="header-right">
        <a href="" title="Профиль">Профиль</a>
        <a href="/signin" title="Войти">Войти</a>
        <a href="/signup" title="Зарегистрироваться">Зарегистрироваться</a>
    </div>
</div>